* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* Header wrapper*/
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  border: 1px solid black;
  padding: 16px;
}

.nav-bar ul,
li {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.search-input {
  width: 500px;
  font-size: 16px;
  padding: 8px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Add border for better appearance */
  border-radius: 4px; /* Add border radius for better appearance */
  outline: none; /* Remove default outline */
}

/* Additional styling for placeholder text */
.search-input::placeholder {
  color: #999; /* Change placeholder text color */
}

/*Body component css*/

/* Button styles */
.btn-wrapper button {
  background-color: #4caf50; /* Green background */
  border: 2px solid transparent; /* Initial transparent border to avoid layout shift */
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.4s, color 0.4s; /* Only transition color properties */
  cursor: pointer;
  border-radius: 12px;
}

.btn-wrapper button:hover {
  background-color: white;
  color: #4caf50;
  border: 2px solid #4caf50; /* Same border width to avoid layout shift */
}

.btn-wrapper button:focus {
  outline: none; /* Remove outline on focus */
}

.btn-wrapper {
  display: flex;
  gap: 20px;
  margin: 16px;
  justify-content: center; /* Center align buttons */
}

.restaurant-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Reastaurnt card css*/
.restaurant-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 10px;
}

.cuisine-wrapper {
  display: flex;
  justify-content: space-between;
}

.cuisine,
.restaurant-name {
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Show the ellipsis (...) */
  display: inline-block; /* Required for ellipsis to work properly */
  width: 60%; /* Adjust width as needed */
}

.restaurant-name-wrapper {
  display: flex;
  justify-content: space-between;
}

.restaurant-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Box shadow on hover */
}

.image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-info {
  padding: 15px;
}

.restaurant-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.cuisine,
.cost-for-two,
.location,
.opening-time {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}

.opening-time {
  color: #d9534f; /* Red color */
}

.additional-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.rating {
  /* background-color: #4caf50; Green background */
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.star {
  margin-left: 2px;
}

.price {
  font-size: 14px;
  color: #666;
}

.distance {
  font-size: 14px;
  color: #666;
}

/** Footer css code will goes here**/
.footer {
  background-color: #f8f8f8;
  padding: 40px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  margin-bottom: 20px;
  height: 50px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: left;
}

.footer-section {
  flex: 1;
  min-width: 150px;
  margin: 10px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #666;
}

.footer-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-country select {
  margin: 0 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.footer-social-links a {
  margin: 0 10px;
  color: #333;
  font-size: 20px;
}

.footer-app-links a {
  margin: 0 10px;
}

.footer-app-links img {
  width: 135px;
  height: 40px;
}

.footer-note {
  font-size: 12px;
  color: #777;
  margin-top: 20px;
}

/** Shimmer Restaurant Component */

/* Shimmer effect CSS */

.shimmer-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-wrapper {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f0f0f0;
  margin: 10px;
  /* font-family: Arial, sans-serif; */
}

.shimmer-image-wrapper {
  width: 100%;
  height: 180px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.shimmer-text {
  margin: 15px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

.shimmer-name {
  width: 60%;
  height: 10px;
  margin-bottom: 10px;
}

.shimmer-rating {
  width: 20%;
  height: 10px;
  margin-bottom: 10px;
}

.shimmer-line {
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
}

.shimmer-short-line {
  width: 80%;
  height: 10px;
  margin-bottom: 10px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Error Page CSS*/

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.error-message {
  color: #d9534f;
}

/* RestaurantDetailComponent.css */
/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
} */

.pfchangs-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

.content {
  position: relative;
}

.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 60vh; /* Adjust height as needed */
  max-height: 600px; /* Ensure maximum height for large screens */
  background: linear-gradient(
    90deg,
    #f0f0f0,
    #f8f8f8
  ); /* Adding a gradient background */
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%; /* Ensures images fit within the container height */
}

.carousel-content img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image fits within the container */
  display: none;
  border-radius: 10px;
}

.carousel-content img.active {
  display: block;
}

.carousel .carousel-control-left,
.carousel .carousel-control-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .carousel-control-left {
  left: 0;
}

.carousel .carousel-control-right {
  right: 0;
}

.carousel .carousel-control-left::before,
.carousel .carousel-control-right::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
  color: white;
}

.carousel .carousel-control-left::before {
  content: "\f053"; /* FontAwesome left arrow */
}

.carousel .carousel-control-right::before {
  content: "\f054"; /* FontAwesome right arrow */
}

.details {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.details h1 {
  margin: 0;
  font-size: 24px;
}

.details p {
  margin: 5px 0;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.actions button {
  padding: 10px 20px;
  border: none;
  background-color: #009688;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actions button:hover {
  background-color: #00796b;
}

.ratings {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.dining-rating {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.rating-text {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.votes-count {
  font-size: 14px;
  color: #888;
}

.cuisines-container {
  margin-top: 20px;
}

.cuisines-container h4 {
  margin-bottom: 10px;
}

.cuisine-tag {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #009688;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
  display: inline-block;
}

.cuisine-tag:hover {
  background-color: #e0e0e0;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.restaurant-detail-shimmer {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  /* display: flex; */
  /* position: relative; */
  animation: shimmer 1.5s infinite linear;
}

.pfchangs-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.no-restro-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: rgb(242, 12, 12);
}

/* 
:root {
  --status-color: orangered;
  --second-signal-delay: 0s;
  --third-signal-delay: 0s;
}

.offline-wrapper {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detector {
  width: 40em;
  height: 14em;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  position: relative;
}

.detector-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.detector > * {
  position: relative;
  box-sizing: border-box;
}

.detector > *::before,
.detector > *::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
}

.client {
  width: 13em;
  height: 10em;
  border: 0.5em solid;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -4em;
}

.client::before {
  width: 1.5em;
  height: 3em;
  background-color: currentColor;
  top: 9.5em;
}

.client::after {
  width: 5em;
  height: 1em;
  background-color: currentColor;
  border-radius: 0.3em;
  top: 12.5em;
}

.signal,
.signal::before,
.signal::after {
  width: 1em;
  height: 1em;
  background-color: var(--status-color);
  border-radius: 50%;
  animation: blink 0.6s infinite;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50%;
}

.signal::before {
  right: 2.5em;
  animation-delay: var(--second-signal-delay);
}

.signal::after {
  left: 2.5em;
  animation-delay: var(--third-signal-delay);
}

@keyframes blink {
  50% {
    filter: opacity(0.1);
  }
}

.server {
  width: 7em;
  height: 14em;
  border: 0.5em solid;
  border-radius: 0.5em;
}

.server::before {
  width: 5em;
  height: 1em;
  background-color: currentColor;
  border-radius: 0.2em;
  top: 8em;
  left: 0.5em;
  box-shadow: 0 1.5em 0;
}

.server::after {
  width: 0.6em;
  height: 0.6em;
  background-color: currentColor;
  border-radius: 50%;
  right: 1.5em;
  bottom: 0.5em;
  box-shadow: 1em 0 0 0.1em;
}

p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  color: #333;
  margin-top: 1em;
}

.fallback-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
} */
